<!-- Cliente -->
<section class="section products">
  <div class="products-layout container">
    <div class="col-1-of-4">
      <div>
        <div class="block-title">
          <h3>Categorias</h3>
        </div>

        <ul class="block-content ">
          <li *ngFor='let cat of listaDeCategoria'>
            <input type="checkbox" name="" id="">
            <label for="">
              <span>{{cat.nome}} </span>
              <small>(5)</small>
            </label>
          </li>
        </ul>
      </div>
      <div>
        <div class="block-title">
          <h3>Top 10</h3>
        </div>

        <ul class="block-content">
          <li>
          <li *ngFor='let top of listaDeCategoria'>
            <input type="checkbox" name="" id="">
            <label for="">
              <span>{{top.nome}}</span>
              <small>(10)</small>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-3-of-4">
      <form action="">
        <div class="item">
          <label for="sort-by">BB </label>
          <select name="sort-by" id="sort-by">
            <option value="title" selected="selected">Name</option>
            <option value="number">Price</option>
            <option value="search_api_relevance">Relevance</option>
            <option value="created">Newness</option>
          </select>
        </div>
        <div class="item">
          <label for="order-by" >Teste </label>
          <select name="order-by" id="sort-by">
            <option value="ASC" selected="selected">ASC</option>
            <option value="DESC">DESC</option>
          </select>
        </div>
        <a href="">Buscar</a>
      </form>

      <div class="product-layout ">
        <div class="product" *ngFor='let item of listaDeProdutos'>
          <div class="img-container">
            <img [routerLink]="['/produtos-detalhe',item.id]" src="{{item.img}}" alt="{{item.nome}}" />
            <div class="addCart">
              <a (click)='adicionaItemCarrinho(item.id, idPedido)'><i class="fas fa-shopping-cart"></i></a>
            </div>
            <ul class="side-icons">
              <span><i class="far fa-heart"></i></span>
              <span [routerLink]="['/produtos-detalhe',item.id]"><i class="fas fa-sliders-h"></i></span>
            </ul>
          </div>
          <div class="bottom">
            <a href="">{{item.nome}}</a>
            <div class="price">
              <span>R$ {{item.preco}}</span>
            </div>
          </div>
        </div>
      </div>
      <ul class="pagination">
        <span routerLink='/carrinho'>1</span>
        <span>2</span>
        <span class="icon">››</span>
        <span class="last">Proximo »</span>
      </ul>
    </div>
  </div>
</section>


<!-- ADM -->

