<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../../assets/menu_bar.svg" />
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
      <ion-button class="filter">
        <ion-icon name="funnel-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="search-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<h1 class="title">Todos os produtos</h1>

<ion-content >
    <ion-row class="favorite-items">
    <ion-col size="6" class="ion-text-left padding-left0" *ngFor="let product of allProducts">
      <img src="{{ product.image }}" />
      <p>R${{ product.price }}</p>
      <h6>{{ product.name }}</h6>
    </ion-col>
  </ion-row>
</ion-content>
