<!-- 
<ion-content class="ion-padding ion-text-center">
  <div class="container">
    <div class="page-header">
      <h1>Bem-vindo(a)! á </h1>
      <h3>Don José</h3>
    </div>

    <img src="../../assets/welcome.png" />

    <div class="button-container">
      <ion-button expand="block" class="main-button" routerLink="/login" routerDirection="forward">Entrar</ion-button>
      <ion-button expand="block" color="dark" fill="clear" routerLink="/signup" routerDirection="forward">Cadastrar</ion-button>
    </div>
  </div>
</ion-content>

<ion-header>
</ion-header> -->

<ion-content>
  <div class="background-container">
    <div class="background-filter">
    <ion-card>
      <img src="https://i.imgur.com/aJIMmMm.png" />
     <ion-card-header>
       <ion-card-title>Bem vindo</ion-card-title>
        <ion-card-subtitle>á Don José!</ion-card-subtitle>
     </ion-card-header>
     <ion-card-content>
       <ion-button routerLink="/login">
         Entrar
       </ion-button>
     </ion-card-content>
    </ion-card>
    </div>
  </div>
</ion-content>


