<div class="container cart">
    <h2>{{nome}}</h2>
    <h4>{{email}}</h4><br>
    <table>
        <tr>
            <th>Produtos</th>
            <th>Quantidade</th>
            <th>Subtotal</th>
        </tr>
        <tr *ngFor='let item of listaDeProdutos'>
            <td *ngIf='0>listaDeProdutos.length '>
                <h2>seu carrinho esta vazio!</h2>
            </td>
            <td *ngIf='listaDeProdutos.length != 0'>
                <div class="cart-info">
                    <img src="{{item.img}}" alt="{{item.nome}}" />
                    <div>
                        <p>{{item.nome}}</p>
                        <span>{{item.descricao}}</span>
                        <br />
                        <button class="deletar" id="liveToastBtn"
                            (click)='removerDoCarrinho(item.id, idCarrinho)'>Remover</button>
                    </div>
                </div>
            </td>
            <td>x {{item.qtdPedidoProduto}}</td>
            <td>R$ {{item.preco}}</td>
        </tr>
    </table>

    <div class="total-price">
        <table>
            <tr>
                <td>Subtotal</td>
                <td>R$ {{pedido.valorTotal}}</td>
            </tr>
            <tr>
                <td>Frete</td>
                <td>R$ 0</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>R$ {{pedido.valorTotal}}</td>
            </tr>
        </table>

        <!-- 
            chamar quando escolher os metodos de pagamento
            <div class="container mt-3">
            <div class="pay" #paypal></div>
        </div> -->
    </div>

</div>