<section class="hero">
    <div class="container">
        <div class="hero-content pb-2 text-center">
            <h1 class="hero-heading">Pedido<br>confirmado</h1>
        </div>
    </div>
</section>
<section class="pb-5">
    <div class="container text-center">
        <div class="icon-rounded bg-primary-light mb-3 mx-auto text-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg " viewBox="0 0 16 16">
                <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
              </svg>
        </div>
        <h4 class="mb-3 ff-base">Muito Obrigado, {{nome}}.</h4>
        <h4 class="mb-3 ff-base text-center">Seu pedido foi confirmado!</h4>
        <p> <a class="btn btn-outline-dark">Ver meus pedidos</a></p>
    </div>
</section>