<html>

<body>
    <div class="container">
        <form action="#">
            <div class="title">Cadastrar</div>
            <div class="input-box underline">
                <input type="text" placeholder="Nome" required>
                <div class="underline"></div>
            </div>
            <div class="input-box underline">
                <input type="email" placeholder="Email" required>
                <div class="underline"></div>
            </div>

            <div class="input-box underline">
                <input type="text" placeholder="Celular" required>
                <div class="underline"></div>
            </div>
            <div class="input-box underline">
                <input type="text" placeholder="CPF" required>
                <div class="underline"></div>
            </div>
            <div class="input-box underline">
                <input type="text" placeholder="CEP" required>
                <div class="underline"></div>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Senha" required>
                <div class="underline"></div>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Confirmar senha" required>
                <div class="underline"></div>
            </div>
            <div class="input-box button">
                <input type="submit" name="" value="Continue">
            </div>
        </form>
        <div class="option">Já possui conta?<a routerLink="/login">entrar</a></div>
    </div>
</body>

</html>