<section class="hero" id="hero">
    <!-- section.hero#hero -->
    <div class="container">
        <h2 class="sub-headline">
            <span class="first-letter"></span>Bem Vindo!
        </h2>
        <h1 class="headline">Don José</h1>
        <div class="headline-description">
            <div class="separator">
                <div class="line line-left"></div>
                <div class="asterisk"><h1 class="asterisco">*</h1></div>
                <div class="line line-right"></div>
            </div>
            <div class="single-animation">
                <h5>A vida é curta, comece pela sobremesa!</h5>
                <a href="#story" class="btn cta-btn">Explorar</a>
            </div>
        </div>
    </div>
</section>
<!-- Hero ends -->

<section class="discover-our-story" >
    <div class="container" id="story">
        <div class="restaurant-info">
            <!-- don josé info -->
            <div class="restaurant-description padding-right animate-left">
                <div class="global-headline">
                    <h2 class="sub-headline">
                        <span class="first-letter"></span>Descubra
                    </h2>
                    <h3 class="headline headline-dark">Nossa historia</h3>
                </div>
                <div class="asterisk"><h1 class="asterisco">*</h1></div>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae non quidem necessitatibus impedit
                    provident laboriosam cumque laborum, suscipit voluptates praesentium soluta aperiam quaerat
                    quibusdam natus fugiat itaque facere corporis porro!
                </p>

                <a href="#" class="btn body-btn">Sobre nós</a>

            </div>
            <div class="restaurant-info-img animate-right">
                <img src="https://i.imgur.com/oshpNGw.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- ABOUT US END-->

<section class="tasteful-recipes between">
    <div class="container">
        <div class="global-headline">
            <div class="animate-top">
                <h2 class="sub-headline">
                    <span class="first-letter"></span>Prove
                </h2>
            </div>
            <div class="animate-bottom">
                <h3 class="headline ">Nossas sobremesas</h3>
            </div>
        </div>
    </div>
</section>
<!-- Products END -->
<section class="discover-our-menu">
    <div class="container">
        <div class="restaurant-info">
            <div class="image-group padding-right animate-left">
                <img src="https://i.imgur.com/t3F7qU7.png" alt="">
                <img src="https://i.imgur.com/mWc3fbz.png" alt="">
                <img src="https://i.imgur.com/zV3dNUZ.png" alt="">
                <img src="https://i.imgur.com/K9orEDs.png" alt="">
            </div>
            <div class="restaurant-description padding-right animate-left">
                <div class="global-headline">
                    <h2 class="sub-headline">
                        <span class="first-letter"></span>Descubra
                    </h2>
                    <h3 class="headline headline-dark">Nosso menu</h3>
                </div>
                <div class="asterisk"><h1 class="asterisco">*</h1></div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, quae! Quo possimus est
                    delectus, expedita quidem doloribus aut, quas fuga, saepe iusto repudiandae consectetur ipsum
                    placeat ipsa blanditiis adipisci earum.

                </p>
                <a routerLink='/products' class="btn body-btn">Veja mais</a>
            </div>
        </div>
    </div>
</section>
<!-- Menu End -->

<section class="perfect-blend between">
    <div class="container">
        <div class="global-headline">
            <div class="animate-top">
                <h2 class="sub-headline">
                    <span class="first-letter"></span>Prove
                </h2>
            </div>
            <div class="animate-bottom">
                <h3 class="headline">NOSSAS SOBREMESSAS</h3>
            </div>
        </div>
    </div>
</section>
<!-- Blend end -->
<section class="culinary-delight">
    <div class="container">
        <div class="restaurant-info">
            <!-- don josé info -->
            <div class="restaurant-description padding-right animate-left">
                <div class="global-headline">
                    <h2 class="sub-headline">
                        <span class="first-letter"></span>Contato
                    </h2>
                    <h1 class="headline headline-dark">Faça um pedido</h1>
                </div>
                <div class="asterisk"><h1 class="asterisco">*</h1></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium reprehenderit beatae
                    recusandae sint suscipit autem blanditiis consequuntur totam cum, fugit aut, ipsam nemo vel ut
                    voluptate quibusdam quam ea tempora?
                </p>
                <a routerLink="/login" class="btn body-btn">Fazer pedido</a>
            </div>
            <div class="image-group">
                <img class="animate-top" src="https://i.imgur.com/zz67Gyi.jpg" alt="">
                <img class="animate-bottom" src="https://i.imgur.com/fEcz8Tu.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Culinary end -->
