<div class="main__container" >
   
    <div class="main__title">
        <img src="assets/hello.svg" alt="" />
        <div class="main__greeting">
            <h1>Olá, {{nome}}</h1>
            <p>Bem vindo a sua dashboard</p>
        </div>
    </div>

    <div class="main__cards">
        <div class="card">
            <i class="" aria-hidden="true"></i>
            <div class="card_inner">
                <p class="text-primary-p">Clientes</p>
                <span class="font-bold text-title">0</span>
            </div>
        </div>

        <div class="card">
            <i class="" aria-hidden="true"></i>
            <div class="card_inner">
                <p class="text-primary-p">Agendados</p>
                <span class="font-bold text-title">0</span>
            </div>
        </div>

        <div class="card">
            <i class="" aria-hidden="true"></i>
            <div class="card_inner">
                <p class="text-primary-p">Produtos vendidos</p>
                <span class="font-bold text-title">0</span>
            </div>
        </div>

        <div class="card">
            <i class="" aria-hidden="true"></i>
            <div class="card_inner">
                <p class="text-primary-p">Chat</p>
                <span class="font-bold text-title">0</span>
            </div>
        </div>
    </div>
  
    <div class="charts">
        <div class="charts__left">
            <div class="charts__left__title">
                <div>
                    <h1>Dash do dia</h1>
                    <p>{{dia}}</p>
                </div>
                <i class="fa fa-usd" aria-hidden="true"></i>
            </div>
            <div class="charts__right__cards">
                <div class="card1">
                    <h1 >Total Pedidos</h1>
                    <p>{{totalPedidos}}</p>
                </div>

                <div class="card2">
                    <h1>Sales</h1>
                    <p>$124,200</p>
                </div>

                <div class="card3">
                    <h1>Novos Clientes</h1>
                    <p>{{totalClientes}}</p>
                </div>

                <div class="card4">
                    <h1>Orders</h1>
                    <p>1881</p>
                </div>
            </div>
           
        </div>

        <div class="charts__right">
            <div class="charts__right__title">
                <div>
                    <h1>Reporte Mensal</h1>
                    <p>{{dia}}</p>
                </div>
                <i class="fa fa-usd" aria-hidden="true"></i>
            </div>

            <div class="charts__right__cards">
                <div class="card1">
                    <h1 >Total Pedidos</h1>
                    <p>{{totalPedidos}}</p>
                </div>

                <div class="card2">
                    <h1>Sales</h1>
                    <p>$124,200</p>
                </div>

                <div class="card3">
                    <h1>Novos Clientes</h1>
                    <p>{{totalClientes}}</p>
                </div>

                <div class="card4">
                    <h1>Orders</h1>
                    <p>1881</p>
                </div>
            </div>
        </div>
    </div>

</div>
