<html>
  <body>
    <div class="container">
      <form action="#">
        <div class="title">Entrar</div>
        <div class="input-box underline" for="usuario">
          <input [(ngModel)]='clienteLogin.email' type="email" id="usuario" placeholder="Usuário" required name="usuario" >
          <div class="underline"></div>
        </div>
        <div class="input-box" for="senha">
          <input [(ngModel)]='clienteLogin.senha' type="password" id="senha" placeholder="Senha" required name="senha" >
          <div class="underline"></div>
        </div>
        <div class="input-box button">
          <input (click)='entrar()' type="submit" name="" value="Continue">
        </div>
      </form>
        <div class="option">Não possui conta?<a routerLink="/cadastrar">cadastra-se</a></div>
    </div>
  </body>
</html>

