<html>
  <body>
    <div class="container">
      <form action="#">
        <div class="title">Entrar</div>
        <div class="input-box underline">
          <input type="text" placeholder="Email" required>
          <div class="underline"></div>
        </div>
        <div class="input-box">
          <input type="password" placeholder="Senha" required>
          <div class="underline"></div>
        </div>
        <div class="input-box button">
          <input type="submit" name="" value="Continue" routerLink="/products">
        </div>
      </form>
        <div class="option">Não possui conta?<a routerLink="/cadastrar">cadastra-se</a></div>
    </div>
  </body>
</html>

