<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Perfil</h1>

  <div class="profile-info">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input value="Wellington Bezerra"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Endereço</ion-label>
      <ion-input value="Rua das alegrais,421"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cidade</ion-label>
      <ion-input value="Sâo Paulo-SP"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Genero</ion-label>
      <ion-input value=" - "></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input value="email@gmail.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Numero de telefone</ion-label>
      <ion-input value="(11) 99999-9999"></ion-input>
    </ion-item>
  </div>
</ion-content>
