<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <ul class="custom-nav nav nav-pills mb-5">
          <li class="nav-item w-50">
            <a class="nav-link  text-sm disabled" [routerLink]="['/pagamento',pedido.id]">
              Endereço
            </a>
          </li>
          <li class="nav-item w-25">
            <a class="nav-link  text-sm disabled" [routerLink]="['/forma-pagamento',pedido.id]">
              Forma de pagamento
            </a>
          </li>
          <li class="nav-item w-25">
            <a class="nav-link att text-sm " [routerLink]="['/finalizar-pagamento',pedido.id]">
              Pedido
            </a>
          </li>
        </ul>
        <div class="mb-5">
          <div class="cart">
            <div class="cart-wrapper">
              <div class="cart-header text-center">
                <div class="row">
                  <div class="col-6">Item</div>
                  <div class="col-2">Preço</div>
                  <div class="col-2">Quantidade</div>
                  <div class="col-2">Total</div>
                </div>
              </div>
              <div class="cart-body">
                <!-- Product-->
                <div class="cart-item" *ngFor='let item of listaDeProdutos'>
                  <div class="row d-flex align-items-center text-center">
                    <div class="col-6">
                      <div class="d-flex align-items-center"><a href="detail.html"><img class="cart-item-img"
                            src="{{item.img}}" alt="{{item.nome}}"></a>
                        <div class="cart-title text-start">
                          <a class="text-uppercase text-dark">
                            <strong>{{item.nome}}</strong>
                          </a>
                          <br>
                          <span class="text-muted text-sm">Tamanho: Grande</span>
                          <br>
                        </div>
                      </div>
                    </div>
                    <div class="col-2">R$ {{item.preco}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-5 d-flex justify-content-between flex-column flex-lg-row"><a class="btn btn-link text-muted"> <i
              class="fa fa-angle-left me-2"></i>Voltar</a><a class="btn btn-dark"
            [routerLink]="['/pagamento-realizado',pedido.id]">Finalizar a
            compra<i class="fa fa-angle-right ms-2"></i></a></div>
      </div>
      <div class="col-lg-4">
        <div class="block mb-5">
          <div class="block-header">
            <h6 class="text-uppercase mb-0">Resumo da compra</h6>
          </div>
          <div class="block-body bg-light pt-1">
            <p class="text-sm">O envio e os custos adicionais são calculados com base nos valores que você
              inseriu.</p>
            <ul class="order-summary mb-0 list-unstyled">
              <li class="order-summary-item"><span>Subtotal </span><span>R$ {{pedido.valorTotal}}</span>
              </li>
              <li class="order-summary-item"><span>Presente </span><span>R$ 0</span></li>
              <li class="order-summary-item"><span>Frete </span><span>R$ {{pedido.frete}}</span></li>
              <li class="order-summary-item border-0">
                <span>Total</span>
                <strong class="order-summary-total">R$ {{pedido.valorTotal}}</strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>