<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" routerLink="/home" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <h1 class="title">Checkout</h1>

  <div class="cart-items">
    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="https://i.imgur.com/wMlnDzC.png" />
        </div>

        <div class="item-info">
          <p>Torts</p>
          <p>Torta Ferriro</p>
          <p>R$29.99</p>

          <div class="qty-selector">
            <ion-button fill="clear">-</ion-button>
            <ion-label>5</ion-label>
            <ion-button fill="clear">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="https://i.imgur.com/mWc3fbz.png" />
        </div>

        <div class="item-info">
          <p>Bolos</p>
          <p>Bolo de ninho</p>
          <p>R$29.98</p>

          <div class="qty-selector">
            <ion-button fill="clear">-</ion-button>
            <ion-label>1</ion-label>
            <ion-button fill="clear">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="https://i.imgur.com/uMk7K3n.png" />
        </div>

        <div class="item-info">
          <p>Bolos</p>
          <p>Bolo de brigadeiro</p>
          <p>R$29.99</p>

          <div class="qty-selector">
            <ion-button fill="clear">-</ion-button>
            <ion-label>1</ion-label>
            <ion-button fill="clear">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="https://i.imgur.com/m0iAMol.png" />
        </div>

        <div class="item-info">
          <p>Donuts</p>
          <p>Donuts de brigadeiro</p>
          <p>R$5.99</p>

          <div class="qty-selector">
            <ion-button fill="clear">-</ion-button>
            <ion-label>5</ion-label>
            <ion-button fill="clear">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="address">
    <ion-item lines="none">
      Rua das alegrias, 421 São Paulo-SP
      <ion-badge slot="end">&nbsp;</ion-badge>
    </ion-item>
  </div>

  <hr>

  <div class="cart-total">
    <ion-item lines="none">
      <ion-label>Sub Total</ion-label>
      <ion-label slot="end" class="ion-text-right">R$160.00</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Desconto</ion-label>
      <ion-label slot="end" class="ion-text-right">5%</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Frete</ion-label>
      <ion-label slot="end" class="ion-text-right">R$10.00</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Total</ion-label>
      <ion-label slot="end" class="ion-text-right">R$162.00</ion-label>
    </ion-item>
  </div>
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button expand="block" class="main-button" routerLink="/confirm" routerDirection="forward">Comprar</ion-button>
  </ion-toolbar>
</ion-footer>