<main class="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <h2 class="h4 text-white">Todos os pedidos</h2>
            <p class="mb-0 text-white">Voce pode visualizar seus pedidos aqui</p>
        </div>
    </div>
    <div class="card card-body border-0 shadow table-wrapper table-responsive mb-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="border-gray-200">#</th>
                    <th class="border-gray-200">Pedido feito por</th>
                    <th class="border-gray-200">Data pedido</th>
                    <th class="border-gray-200">Valor</th>
                    <th class="border-gray-200">Status</th>
                </tr>
            </thead>
            <tbody *ngFor='let pedido of listaDePedidos'>
                <!-- Item -->
                <tr>
                    <td>
                        <a class="fw-bold " (click)='findByIdPedido(pedido.id)'>
                            {{pedido.id}}
                        </a>
                    </td>
                    <td><span class="fw-normal">{{pedido.cliente.nome}}</span></td>
                    <td><span class="fw-normal">{{pedido.data}}</span></td>
                    <td><span class="fw-bold">R$ {{pedido.valorTotal}}</span></td>
                    <td>
                        <span *ngIf="pedido.status=='Criado' "class="fw-bold text-danger" >R$ {{pedido.status}}</span>
                        <span *ngIf="pedido.status=='Em andamento'" class="fw-bold text-warning" >R$ {{pedido.status}}</span>
                        <span *ngIf="pedido.status=='Finalizado'" class="fw-bold text-success" >R$ {{pedido.status}}</span>
                    </td>
                </tr>
                <!-- Item -->
            </tbody>
        </table>

        <div
            class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
            <nav aria-label="Page navigation example">
                <ul class="pagination mb-0">
                    <li class="page-item">
                        <a class="page-link" href="#">Inicio</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">5</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Proximo</a>
                    </li>
                </ul>
            </nav>
            <div class="fw-normal small mt-4 mt-lg-0">Monstrando <b>5</b> de <b>25.</b></div>
        </div>
    </div >


    <!-- ***************************************** -->
    <div class="card" *ngIf='mostrarTransacao!=false'>
        <div class="classe row g-5 ">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <h3 class="text-dark">Produtos </h3>
                    <span class="badge bg-primary rounded-pill"></span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Nome do produto</h6>
                            <small class="text-muted">Ajustar Logica</small>
                        </div>
                        <span class="text-muted">R$ Ajustar Logica</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (BRL)</span>
                        <strong>R$ {{pedido.valorTotal}}</strong>
                    </li>
                </ul>

                <h3 class="d-flex justify-content-between align-items-center text-dark pt-3">Status do pedido 
                    <h5 *ngIf="pedido.status=='Criado' "class="fw-bold text-danger" >R$ {{pedido.status}}</h5>
                    <h5 *ngIf="pedido.status=='Em andamento'" class="fw-bold text-warning" >R$ {{pedido.status}}</h5>
                    <h5 *ngIf="pedido.status=='Finalizado'" class="fw-bold text-success" >R$ {{pedido.status}}</h5>
                </h3>
            </div>

            <div class="col-md-7 col-lg-8">
                <h3 class="mb-3">Dados</h3>
                <form class="needs-validation" novalidate>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">Primeiro nome</label>
                            <input type="text" class="form-control" id="firstName" placeholder=""
                                value="{{pedido.cliente.nome}}" required disabled="">
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">Sobrenome</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required
                                disabled="">
                        </div>

                        <div class="col-6">
                            <label for="email" class="form-label">CPF</label>
                            <input type="number" class="form-control" id="cpf" placeholder="{{pedido.cliente.cpf}}"
                                disabled="">
                        </div>
                        <div class="col-6">
                            <label for="email" class="form-label">Celular</label>
                            <input type="number" class="form-control" id="celurar"
                                placeholder="{{pedido.cliente.celular}}" disabled="">
                        </div>
                        <div class="col-12">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="{{pedido.cliente.email}}"
                                disabled="">
                        </div>

                        <div>
                            <label for="address" class="form-label">CEP</label>
                            <input type="number" class="form-control" id="cep" placeholder="{{pedido.cliente.cep}}"
                                disabled="">
                        </div>
                        <div class="col-md-8">
                            <label for="address" class="form-label">Rua</label>
                            <input type="number" class="form-control" id="Rua"
                                placeholder="{{pedido.cliente.logradouro}}" disabled="">
                        </div>
                        <div class="col-md-2">
                            <label for="address" class="form-label">Numero</label>
                            <input type="number" class="form-control" id="numero"
                                placeholder="{{pedido.cliente.numero}}" disabled="">
                        </div>
                        <div class="col-md-2">
                            <label for="address" class="form-label">Estado</label>
                            <input type="text" class="form-control" id="uf" placeholder="{{pedido.cliente.uf}}"
                                disabled="">
                        </div>
                    </div>
                    <hr class="my-4">

                    <h4 class="mb-3">Metodo de pagamento</h4>

                    <div class="my-3">
                        <div class="form-check">
                            <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked
                                required disabled="">
                            <label class="form-check-label" for="credit">Cartão de Credito</label>
                        </div>
                        <div class="form-check">
                            <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required
                                disabled="">
                            <label class="form-check-label" for="debit">Cartão de Debito</label>
                        </div>
                        <div class="form-check">
                            <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required
                                disabled="">
                            <label class="form-check-label" for="paypal">PayPal</label>
                        </div>
                        <div class="form-check">
                            <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required
                                disabled="">
                            <label class="form-check-label" for="paypal">Pix</label>
                        </div>
                    </div>
                    <hr class="my-4">
                    <!--  <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button> -->
                </form>
            </div>
        </div>
    </div>
</main>