<footer class="main-footer">
  <!-- Main block - menus, subscribe form-->
  <div class="py-6  text-muted">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="fw-bold text-uppercase text-lg mb-3">Don José</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a class="text-muted text-warning-hover" href="#" target="_blank" title="Whats App">
                <i class="fab fa-whatsapp"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="text-muted text-warning-hover" href="#" target="_blank" title="facebook">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="text-muted text-warning-hover" href="#" target="_blank" title="instagram">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
          <h6 class="fw-bold text-uppercase text-lg mb-3">Comprar</h6>
          <ul class="list-unstyled">
            <li> <a class="text-muted text-warning-hover" href="#">Bolos</a></li>
            <li> <a class="text-muted text-warning-hover" href="#">Tortas</a></li>
            <li> <a class="text-muted text-warning-hover" href="#">Donuts</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
          <h6 class="fw-bold text-uppercase text-lg mb-3">Serviços</h6>
          <ul class="list-unstyled">
            <li> <a class="text-muted text-warning-hover" href="#">Entrar</a></li>
            <li> <a class="text-muted text-warning-hover" href="#">Cadastra-se</a></li>
            <li> <a class="text-muted text-warning-hover" href="#">Nossos produtos</a></li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h6 class="fw-bold text-uppercase text-lg mb-3">Receba promoções imperdiveis</h6>
          <p class="mb-3"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.</p>
          <form action="#" id="newsletter-form">
            <div class="input-group mb-3">
              <input class="form-control bg-transparent border-secondary border-end-0" type="email"
                placeholder="Digite seu email" aria-label="Digite seu email">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary border-start-0 " type="submit"> <i
                    class="fa fa-paper-plane text-lg text-warning-hover"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>