<footer class="main-footer">
    <!-- Main block - menus, subscribe form-->
    <div class="py-6 bg-gray-300 text-muted">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="fw-bold text-uppercase text-lg text-dark mb-3">Sell<span class="text-primary">.</span></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            <ul class="list-inline">
              <li class="list-inline-item"><a class="text-muted text-primary-hover" href="#" target="_blank"
                  title="twitter"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item"><a class="text-muted text-primary-hover" href="#" target="_blank"
                  title="facebook"><i class="fab fa-facebook"></i></a></li>
              <li class="list-inline-item"><a class="text-muted text-primary-hover" href="#" target="_blank"
                  title="instagram"><i class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item"><a class="text-muted text-primary-hover" href="#" target="_blank"
                  title="pinterest"><i class="fab fa-pinterest"></i></a></li>
              <li class="list-inline-item"><a class="text-muted text-primary-hover" href="#" target="_blank"
                  title="vimeo"><i class="fab fa-vimeo"></i></a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
            <h6 class="text-uppercase text-dark mb-3">Shop</h6>
            <ul class="list-unstyled">
              <li> <a class="text-muted" href="#">For Women</a></li>
              <li> <a class="text-muted" href="#">For Men</a></li>
              <li> <a class="text-muted" href="#">Stores</a></li>
              <li> <a class="text-muted" href="#">Our Blog</a></li>
              <li> <a class="text-muted" href="#">Shop</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
            <h6 class="text-uppercase text-dark mb-3">Company</h6>
            <ul class="list-unstyled">
              <li> <a class="text-muted" href="#">Login </a></li>
              <li> <a class="text-muted" href="#">Register </a></li>
              <li> <a class="text-muted" href="#">Wishlist </a></li>
              <li> <a class="text-muted" href="#">Our Products </a></li>
              <li> <a class="text-muted" href="#">Checkouts </a></li>
            </ul>
          </div>
          <div class="col-lg-4">
            <h6 class="text-uppercase text-dark mb-3">Daily Offers & Discounts</h6>
            <p class="mb-3"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.</p>
            <form action="#" id="newsletter-form">
              <div class="input-group mb-3">
                <input class="form-control bg-transparent border-secondary border-end-0" type="email"
                  placeholder="Your Email Address" aria-label="Your Email Address">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary border-start-0" type="submit"> <i
                      class="fa fa-paper-plane text-lg text-dark"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>