<div class="wrapper ">

    <div class="content">
        <div class="row">
            <div class="col-md-12 pb-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Categorias </h4>
                        <p>Cuidado! Ao alterar a categoriam, os produtos linkados à ela também sofrerão alterações</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Nome
                                    </th>
                                    <th>
                                        Data
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Nome da categoria
                                        </td>
                                        <td>
                                            Data que ela foi criada
                                        </td>
                                        <td>
                                           <button>Editar</button>
                                        </td>
                                        <td>
                                            <button>Apagar</button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 pb-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Categorias </h4>
                        <p>Cuidado! Ao alterar a categoriam, os produtos linkados à ela também sofrerão alterações</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Nome
                                    </th>

                                    <th>
                                        Data
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" placeholder="nome">
                                        </td>
                                        <td>
                                            Data que ela foi criada
                                        </td>
                                        <td>
                                           <button>Cancelar</button>
                                        </td>
                                        <td>
                                            <button>Confirmar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>