<ion-app >
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" [disabled]="!isMenuEnabled">
      <ion-content>
        <div class="main-list">
          <ion-list id="inbox-list">
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="none" (click)="navigate('/home', 1)" detail="false" class="ion-text-center"
                [class.selected]="selectedIndex == 1">
                <ion-label>Home</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="none" (click)="navigate('/my-cart', 3)" detail="false" class="ion-text-center"
                [class.selected]="selectedIndex == 3">
                <ion-label>Carrinho</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="none" (click)="navigate('/favorite', 4)" detail="false" class="ion-text-center"
                [class.selected]="selectedIndex == 4">
                <ion-label>Favoritos</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="none" (click)="navigate('/my-orders', 5)" detail="false" class="ion-text-center"
                [class.selected]="selectedIndex == 5">
                <ion-label>Meus pedidos</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
          <!-- Close Button -->
          <ion-button fill="clear" color="dark" (click)="close()">
            <ion-icon name="close-circle-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
    <!-- footer menu-->
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" (click)="navigate('/home', 1)">
          <ion-icon name="home"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="search">
          <ion-icon name="search"></ion-icon>
          <ion-label>Buscar</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="order" (click)="navigate('/my-orders', 5)">
          <ion-icon name="reader-outline"></ion-icon>
          <ion-label>Pedidos</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="speakers" (click)="navigate('/profile', 2)">
          <ion-icon name="person-circle"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-split-pane>
</ion-app>